<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger{36} - %m%n</Property>
<!--        <Property name="layout">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"</Property>-->
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${layout}" />
        </Console>
        <File name="logfile" fileName="./out/log.log" append="false">
            <PatternLayout pattern="${layout}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="mango" level="info" additivity="false">
            <AppenderRef ref="logfile" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
